<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mybatis.dao.CourseMapper">
  <resultMap id="BaseResultMap" type="com.project.mybatis.entity.Course">
    <id column="course_ID" jdbcType="VARCHAR" property="courseId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="teacher_ID" jdbcType="VARCHAR" property="teacherId" />
    <result column="attend_percentage" jdbcType="DOUBLE" property="attendPercentage" />
    <result column="project_percentage" jdbcType="DOUBLE" property="projectPercentage" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.project.mybatis.entity.Course">
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    course_ID, name, teacher_ID, attend_percentage, project_percentage
  </sql>
  <sql id="Blob_Column_List">
    description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from course
    where course_ID = #{courseId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from course
    where course_ID = #{courseId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.project.mybatis.entity.Course">
    insert into course (course_ID, name, teacher_ID, 
      attend_percentage, project_percentage, description
      )
    values (#{courseId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{teacherId,jdbcType=VARCHAR}, 
      #{attendPercentage,jdbcType=DOUBLE}, #{projectPercentage,jdbcType=DOUBLE}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.project.mybatis.entity.Course">
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseId != null">
        course_ID,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="teacherId != null">
        teacher_ID,
      </if>
      <if test="attendPercentage != null">
        attend_percentage,
      </if>
      <if test="projectPercentage != null">
        project_percentage,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseId != null">
        #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null">
        #{teacherId,jdbcType=VARCHAR},
      </if>
      <if test="attendPercentage != null">
        #{attendPercentage,jdbcType=DOUBLE},
      </if>
      <if test="projectPercentage != null">
        #{projectPercentage,jdbcType=DOUBLE},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.project.mybatis.entity.Course">
    update course
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null">
        teacher_ID = #{teacherId,jdbcType=VARCHAR},
      </if>
      <if test="attendPercentage != null">
        attend_percentage = #{attendPercentage,jdbcType=DOUBLE},
      </if>
      <if test="projectPercentage != null">
        project_percentage = #{projectPercentage,jdbcType=DOUBLE},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where course_ID = #{courseId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.project.mybatis.entity.Course">
    update course
    set name = #{name,jdbcType=VARCHAR},
      teacher_ID = #{teacherId,jdbcType=VARCHAR},
      attend_percentage = #{attendPercentage,jdbcType=DOUBLE},
      project_percentage = #{projectPercentage,jdbcType=DOUBLE},
      description = #{description,jdbcType=LONGVARCHAR}
    where course_ID = #{courseId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.project.mybatis.entity.Course">
    update course
    set name = #{name,jdbcType=VARCHAR},
      teacher_ID = #{teacherId,jdbcType=VARCHAR},
      attend_percentage = #{attendPercentage,jdbcType=DOUBLE},
      project_percentage = #{projectPercentage,jdbcType=DOUBLE}
    where course_ID = #{courseId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.project.mybatis.entity.Course">
    <id column="course_ID" jdbcType="VARCHAR" property="courseId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="teacher_ID" jdbcType="VARCHAR" property="teacherId" />
    <result column="attend_percentage" jdbcType="DOUBLE" property="attendPercentage" />
    <result column="project_percentage" jdbcType="DOUBLE" property="projectPercentage" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.project.mybatis.entity.Course">
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    course_ID, name, teacher_ID, attend_percentage, project_percentage
  </sql>
  <sql id="Blob_Column_List">
    description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from course
    where course_ID = #{courseId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from course
    where course_ID = #{courseId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.project.mybatis.entity.Course">
    insert into course (course_ID, name, teacher_ID, 
      attend_percentage, project_percentage, description
      )
    values (#{courseId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{teacherId,jdbcType=VARCHAR}, 
      #{attendPercentage,jdbcType=DOUBLE}, #{projectPercentage,jdbcType=DOUBLE}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.project.mybatis.entity.Course">
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseId != null">
        course_ID,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="teacherId != null">
        teacher_ID,
      </if>
      <if test="attendPercentage != null">
        attend_percentage,
      </if>
      <if test="projectPercentage != null">
        project_percentage,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseId != null">
        #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null">
        #{teacherId,jdbcType=VARCHAR},
      </if>
      <if test="attendPercentage != null">
        #{attendPercentage,jdbcType=DOUBLE},
      </if>
      <if test="projectPercentage != null">
        #{projectPercentage,jdbcType=DOUBLE},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.project.mybatis.entity.Course">
    update course
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null">
        teacher_ID = #{teacherId,jdbcType=VARCHAR},
      </if>
      <if test="attendPercentage != null">
        attend_percentage = #{attendPercentage,jdbcType=DOUBLE},
      </if>
      <if test="projectPercentage != null">
        project_percentage = #{projectPercentage,jdbcType=DOUBLE},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where course_ID = #{courseId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.project.mybatis.entity.Course">
    update course
    set name = #{name,jdbcType=VARCHAR},
      teacher_ID = #{teacherId,jdbcType=VARCHAR},
      attend_percentage = #{attendPercentage,jdbcType=DOUBLE},
      project_percentage = #{projectPercentage,jdbcType=DOUBLE},
      description = #{description,jdbcType=LONGVARCHAR}
    where course_ID = #{courseId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.project.mybatis.entity.Course">
    update course
    set name = #{name,jdbcType=VARCHAR},
      teacher_ID = #{teacherId,jdbcType=VARCHAR},
      attend_percentage = #{attendPercentage,jdbcType=DOUBLE},
      project_percentage = #{projectPercentage,jdbcType=DOUBLE}
    where course_ID = #{courseId,jdbcType=VARCHAR}
  </update>
</mapper>