<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.etsapi.mapper.AttendMapper">

    <insert id="addAttendance" parameterType="com.project.etsapi.entity.Attendance">
        insert into attendance (course_ID,start_time,end_time)
        values (#{course_ID},
                #{start_time},
                #{end_time})
    </insert>

    <insert id="addAttend" parameterType="com.project.etsapi.entity.Attend">
        insert into attend (course_ID,start_time,student_ID)
        values (#{course_ID},
                #{start_time},
                #{student_ID})
    </insert>

    <select id="getAttendance" resultType="com.project.etsapi.entity.Attendance">
        select *
        from attendance
        where course_ID = #{course_ID} and start_time = #{start_time}
    </select>

    <select id="getAttendanceListByCourseId" resultType="com.project.etsapi.entity.Attendance">
        select *
        from attendance
        where course_ID = #{course_ID}
    </select>

    <select id="getAttendList" resultType="com.project.etsapi.entity.Attend">
        select * from attend
        where course_ID = #{course_ID} and student_ID = #{student_ID}
    </select>

    <select id="getAttend" parameterType="com.project.etsapi.entity.Attend"
            resultType="com.project.etsapi.entity.Attend">
        select * from attend
        where course_ID = #{course_ID} and start_time = #{start_time} and student_ID = #{student_ID}
    </select>

    <select id="getAttendanceInfoList" resultType="com.project.etsapi.vo.AttendanceInfo">
        WITH total_student AS
            (SELECT course_ID, count(student_ID) AS total
            FROM
                 (SELECT *
                 FROM takecourse
                 WHERE is_student = "1") AS tmp
            GROUP BY course_ID)
        SELECT start_time, end_time, COUNT( student_ID ) AS number, total
        FROM attend NATURAL JOIN attendance NATURAL JOIN total_student
        WHERE course_ID = #{course_ID}
        GROUP BY start_time, course_ID
    </select>
</mapper>
