<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.etsapi.mapper.CourseMapper">
<!--    int addCourse(Course course);-->
    <insert id="addCourse" parameterType="com.project.etsapi.entity.Course">
        insert into course (course_ID, name, teacher_ID, description,
                            attend_percentage, project_percentage,is_active)
        values (#{course_ID,jdbcType=VARCHAR},
                #{name,jdbcType=VARCHAR},
                #{teacher_ID,jdbcType=VARCHAR},
                #{description,jdbcType=LONGVARCHAR},
                #{attend_percentage},
                #{project_percentage},
                #{is_active}
                )
    </insert>

    <update id="endCourse">
        UPDATE course
        SET is_active = "0"
        WHERE course_ID = #{course_ID,jdbcType=VARCHAR}
    </update>

<!--    int deleteCourseById(String course_ID);-->
    <delete id="deleteCourseById" parameterType="java.lang.String">
        delete from course
        where course_ID = #{course_ID,jdbcType=VARCHAR}
    </delete>

    <!--更新课程介绍-->
    <update id="updateCourseInfo">
        UPDATE course
        SET name = #{name,jdbcType=VARCHAR},
            description = #{description,jdbcType=LONGVARCHAR}
        WHERE course_ID = #{course_ID,jdbcType=VARCHAR}
    </update>

    <!--更新课程成绩-->
    <update id="updateCourseGrade">
        UPDATE course
        SET attend_percentage = #{attend_percentage},
            project_percentage = #{project_percentage}
        WHERE course_ID = #{course_ID,jdbcType=VARCHAR}
    </update>

    <!--查一个-->
    <select id="getCourse" parameterType="String" resultType="com.project.etsapi.entity.Course">
        SELECT * FROM course
        WHERE course_ID = #{course_ID}
    </select>

    <select id="getStuCourse" resultType="com.project.etsapi.vo.CourseInfo">
        SELECT course_ID,course_name,teacher_ID,teacher_name,is_student  FROM
            (SELECT course_ID,is_student
             FROM takecourse
             WHERE student_ID = #{student_ID}) as a NATURAL JOIN
            (SELECT course_ID,course.name as course_name,course.teacher_ID as teacher_ID,teacher.name as teacher_name
            FROM course LEFT JOIN teacher
            on course.teacher_ID = teacher.teacher_ID
            WHERE is_active = #{is_active}) as b
    </select>

    <select id="getTeaCourse" resultType="com.project.etsapi.vo.CourseInfo">
        SELECT course_ID,course_name,teacher_ID,teacher_name,"0" as is_student
        FROM(SELECT course_ID FROM teachcourse WHERE teacher_ID = #{teacher_ID})as a NATURAL join
            (SELECT course_ID,course.name as course_name,course.teacher_ID as teacher_ID,teacher.name as teacher_name
            FROM course left JOIN teacher
            on course.teacher_ID = teacher.teacher_ID
             WHERE is_active = #{is_active}) as b
    </select>
</mapper>


