<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.etsapi.mapper.CourseMapper">
<!--    int addCourse(Course course);-->
    <insert id="addCourse" parameterType="com.project.etsapi.entity.Course">
        insert into course (course_ID, name, teacher_ID, description, attend_percentage, project_percentage)
        values (#{course_ID,jdbcType=VARCHAR},
                #{name,jdbcType=VARCHAR},
                #{teacher_ID,jdbcType=VARCHAR},
                #{description,jdbcType=LONGVARCHAR},
                #{attend_percentage},
                #{project_percentage}
                )
    </insert>

<!--    int deleteCourseById(String course_ID);-->
    <delete id="deleteCourseById" parameterType="java.lang.String">
        delete from course
        where course_ID = #{course_ID,jdbcType=VARCHAR}
    </delete>

    <!--更新课程介绍-->
    <update id="updateCourseInfo">
        UPDATE course
        SET name = #{name,jdbcType=VARCHAR},
            description = #{description,jdbcType=LONGVARCHAR}
        WHERE course_ID = #{course_ID,jdbcType=VARCHAR}
    </update>

    <!--更新课程成绩-->
    <update id="updateCourseGrade">
        UPDATE course
        SET attend_percentage = #{attend_percentage},
            project_percentage = #{project_percentage}
        WHERE course_ID = #{course_ID,jdbcType=VARCHAR}
    </update>

    <!--查一个-->
    <select id="getCourse" parameterType="String" resultType="com.project.etsapi.entity.Course">
        SELECT * FROM course
        WHERE course_ID = #{course_ID}
    </select>

<!--    List<Course> getAll();-->
    <select id="getAll" resultType="com.project.etsapi.entity.Course">
        SELECT * FROM course
    </select>


<!--    List<StudentInfo> getListStudentInfo(HashMap<String, String> parameter);-->
    <select id="getListStudentInfo" resultType="com.project.etsapi.vo.StudentInfo" parameterType="java.util.HashMap">
        SELECT takecourse.student_ID,name,account.email
        FROM (takecourse NATURAL JOIN student) JOIN account
        ON takecourse.student_ID=account_ID
        WHERE takecourse.course_ID = #{course_ID} AND takecourse.is_student=#{is_student}
    </select>

<!--    List<TeacherInfo> getListTeacherInfo(String course_ID);-->
    <select id="getListTeacherInfo" resultType="com.project.etsapi.vo.TeacherInfo" parameterType="String">
        SELECT teachcourse.teacher_ID,name,account.email
        FROM (teachcourse NATURAL JOIN teacher) JOIN account
        ON teachcourse.teacher_ID=account_ID
        WHERE teachcourse.course_ID = #{course_ID}
    </select>
</mapper>


