<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.etsapi.mapper.CourseMapper">

    <!--查一个-->
    <select id="getCourse" parameterType="String" resultType="com.project.etsapi.entity.Course">
        SELECT * FROM course
        WHERE course_ID = #{course_ID}
    </select>

<!--    List<Course> getAll();-->
    <select id="getAll" resultType="com.project.etsapi.entity.Course">
        SELECT * FROM course
    </select>

<!--    List<StudentEmail> getListStudentEmail(String course_ID);-->
    <select id="getListStudentEmail" resultType="com.project.etsapi.vo.StudentEmail" parameterType="String">
        SELECT take.student_ID,name,account.email
        FROM (takecourse NATURAL JOIN student) JOIN account
        ON takecourse.student_ID=account_ID
        WHERE takecourse.course_ID = #{course_ID}
    </select>
</mapper>


