<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.etsapi.mapper.ProjectMapper">
<!--    List<Project> getProjectListByCourseId(String course_ID);-->
    <select id="getProjectListByCourseId" parameterType="String" resultType="com.project.etsapi.entity.Project">
        SELECT * FROM  project
        WHERE course_ID = #{course_ID}
    </select>

<!--    int addProject(Project project);-->
    <insert id="addProject" parameterType="com.project.etsapi.entity.Project">
        INSERT INTO project(project_ID, name, release_time,
                            deadline, description, path_number,
                            percentage, teacher_ID, course_ID)
        VALUES (#{project_ID}, #{name}, #{release_time}, #{deadline},
                #{description}, #{path_number}, #{percentage},
                #{teacher_ID}, #{course_ID})
    </insert>

<!--    Project getProject(String project_ID);-->
    <select id="getProject" parameterType="String" resultType="com.project.etsapi.entity.Project">
        SELECT * FROM project
        WHERE project_ID = #{project_ID}
    </select>
</mapper>


