<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.etsapi.mapper.ReportMapper">

    <insert id="addReport" parameterType="com.project.etsapi.entity.Report">
        INSERT INTO report(course_ID, project_name, student_ID,
                            report_name, score,submit_time, correct_time)
        VALUES (#{course_ID}, #{project_name},#{student_ID},
                #{report_name},#{score},#{submit_time},#{correct_time})
    </insert>

    <update id="updateReport" parameterType="com.project.etsapi.entity.Report">
        UPDATE report
        SET report_name = #{report_name},
            score = #{score},
            submit_time = #{submit_time},
            correct_time = #{correct_time}
        WHERE course_ID = #{course_ID}
          and project_name = #{project_name}
          and student_ID = #{student_ID}
    </update>

    <update id="updateScore" parameterType="com.project.etsapi.vo.CorrectInfo">
        update report
        set score = #{score},correct_time = #{correct_time}
        where course_ID = #{course_ID}
          and project_name = #{project_name}
          and student_ID = #{student_ID}
    </update>

    <select id="getProjectScoreInfoList" resultType="com.project.etsapi.vo.ProjectScoreInfo">
        SELECT project_name,AVG(score) as avg_score,MAX(score) as max_score,MIN(score) as min_score
        FROM report
        WHERE course_ID = #{course_ID}
        GROUP BY project_name
    </select>

    <select id="getReport" resultType="com.project.etsapi.entity.Report">
        select course_ID,project_name,student_ID,
               report_name,score,submit_time,correct_time
        from report
        where course_ID = #{course_ID}
          and student_ID = #{student_ID}
          and project_name = #{project_name}
    </select>

    <select id="getTotalReportList" resultType="com.project.etsapi.vo.ReportInfo">
        select student_ID,name,report_name,submit_time,correct_time,score
        from report natural join student
        where course_ID = #{course_ID} and project_name = #{project_name}
    </select>

    <select id="getStuProScoreList" resultType="com.project.etsapi.vo.StuProScore">
        SELECT name,score
        FROM
            (SELECT * FROM project WHERE NOW() > end_time and course_ID = #{course_ID})as a
                left JOIN ( SELECT * FROM report WHERE student_ID = #{student_ID} ) as b
        on a.course_ID = b.course_ID
        and a.name = b.project_name
        WHERE correct_time is not NULL
    </select>
</mapper>
