<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.etsapi.mapper.TakeCourseMapper">

    <!--    add takeCourse-->
    <insert id="addTakeCourse" parameterType="com.project.etsapi.entity.TakeCourse">
        INSERT INTO takecourse(student_ID, course_ID, is_student)
        VALUES (#{student_ID}, #{course_ID}, #{is_student})
    </insert>

    <!--    删除指定的一条-->
    <delete id="deleteTakeCourse" parameterType="com.project.etsapi.entity.TakeCourse">
        DELETE FROM takecourse
        WHERE student_ID=#{student_ID} and course_ID=#{course_ID} and is_student=#{is_student}
    </delete>

    <!--    get TakeCourse-->
    <select id="getTakeCourse" resultType="com.project.etsapi.entity.TakeCourse">
        SELECT * FROM takecourse
        WHERE student_ID=#{student_ID} and course_ID=#{course_ID}
    </select>

    <!--    List<StudentInfo> getStudentInfoList(String course_ID,String is_student);-->
    <select id="getStudentInfoListByCourseId" resultType="com.project.etsapi.vo.StudentInfo">
        SELECT takecourse.student_ID,name,account.email
        FROM (takecourse NATURAL JOIN student) JOIN account
                                                    ON takecourse.student_ID=account_ID
        WHERE takecourse.course_ID = #{course_ID} AND takecourse.is_student=#{is_student}
    </select>

    <select id="getTotalScoreList" resultType="com.project.etsapi.vo.ScoreInfo">
        WITH a AS ( SELECT student_ID, NAME, project_score, attend_score FROM student NATURAL JOIN takecourse WHERE course_ID = #{course_ID} AND is_student = "1" ),
             b AS ( SELECT attend_percentage, project_percentage FROM course WHERE course_ID = #{course_ID} ),
             c AS ( SELECT count( course_ID ) AS project_number FROM project WHERE course_ID = #{course_ID} ),
             d AS ( SELECT count( course_ID ) AS attend_number FROM attendance WHERE course_ID = #{course_ID} ),
             e AS ( SELECT * FROM a JOIN b JOIN c JOIN d )
        SELECT
             student_ID,
             NAME,
             project_score * project_percentage * 100 /IF( project_number = 0, 1, project_number ),
             attend_score * attend_percentage * 100 /IF( attend_number = 0, 1, attend_number ) AS attned_score
        FROM e
    </select>

    <select id="getPartScore" resultType="com.project.etsapi.vo.PartScore">
        WITH a AS ( SELECT student_ID, NAME, project_score, attend_score FROM student NATURAL JOIN takecourse WHERE course_ID = #{course_ID} AND is_student = "1" and student_ID = #{student_ID}),
             b AS ( SELECT attend_percentage, project_percentage FROM course WHERE course_ID = #{course_ID} ),
             c AS ( SELECT count( course_ID ) AS project_number FROM project WHERE course_ID = #{course_ID} ),
             d AS ( SELECT count( course_ID ) AS attend_number FROM attendance WHERE course_ID = #{course_ID} ),
             e AS ( SELECT * FROM a JOIN b JOIN c JOIN d )
        SELECT
            student_ID,
            NAME,
            project_score * project_percentage * 100 /IF( project_number = 0, 1, project_number ),
            attend_score * attend_percentage * 100 /IF( attend_number = 0, 1, attend_number ) AS attned_score
        FROM e
    </select>
</mapper>


