<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.etsapi.mapper.TakeCourseMapper">

    <!--    add takeCourse-->
    <insert id="addTakeCourse" parameterType="com.project.etsapi.entity.TakeCourse">
        INSERT INTO takecourse(student_ID, course_ID, is_student)
        VALUES (#{student_ID}, #{course_ID}, #{is_student})
    </insert>

    <!--    删除指定的一条-->
    <delete id="deleteTakeCourse" parameterType="com.project.etsapi.entity.TakeCourse">
        DELETE FROM takecourse
        WHERE student_ID=#{student_ID} and course_ID=#{course_ID} and is_student=#{is_student}
    </delete>

    <!--    get TakeCourse-->
    <select id="getTakeCourse" resultType="com.project.etsapi.entity.TakeCourse">
        SELECT * FROM takecourse
        WHERE student_ID=#{student_ID} and course_ID=#{course_ID}
    </select>

    <select id="getStudentListByCourseId" resultType="com.project.etsapi.entity.Student">
        SELECT takecourse.student_ID, student.name
        FROM takecourse NATURAL JOIN student
        WHERE takecourse.course_ID = #{course_ID} and takecourse.is_student = #{is_student}
    </select>

    <!--    List<StudentInfo> getStudentInfoList(String course_ID,String is_student);-->
    <select id="getStudentInfoListByCourseId" resultType="com.project.etsapi.vo.StudentInfo">
        SELECT takecourse.student_ID,name,account.email
        FROM (takecourse NATURAL JOIN student) JOIN account
                                                    ON takecourse.student_ID=account_ID
        WHERE takecourse.course_ID = #{course_ID} AND takecourse.is_student=#{is_student}
    </select>
</mapper>


