<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.etsapi.mapper.TeachCourseMapper">

    <!--add-->
    <insert id="addTeachCourse" parameterType="com.project.etsapi.entity.TeachCourse">
        INSERT INTO teachcourse (teacher_ID, course_ID)
        VALUES (#{teacher_ID}, #{course_ID})
    </insert>

<!--    get TeachCourse-->
    <select id="getTeachCourse" resultType="com.project.etsapi.entity.TeachCourse">
        SELECT * FROM teachcourse
        WHERE teacher_ID=#{teacher_ID} and course_ID=#{course_ID}
    </select>

    <!--    get Teacher List By Course_ID-->
    <select id="getTeacherListByCourseId" parameterType="String" resultType="com.project.etsapi.entity.Teacher">
        SELECT teachcourse.teacher_ID, teacher.name
        FROM teachcourse NATURAL JOIN teacher
        WHERE teachcourse.course_ID = #{course_ID}
    </select>

    <!--    List<TeacherInfo> getTeacherInfoList(String course_ID);-->
    <select id="getTeacherInfoListByCourseId" resultType="com.project.etsapi.vo.TeacherInfo" parameterType="String">
        SELECT teachcourse.teacher_ID,name,account.email
        FROM (teachcourse NATURAL JOIN teacher) JOIN account
                                                     ON teachcourse.teacher_ID=account_ID
        WHERE teachcourse.course_ID = #{course_ID}
    </select>
</mapper>



